@media (max-width: 650px) {
  .hero-section {
    height: 90vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1.5fr 2fr;
  }

  .logo-text-container {
    display: flex;
    height: 100%;
    justify-content: end;
    align-items: center;
    width: 80%;
  }

  #logo-stroke {
    width: 80%;
  }
  #dev-team {
    width: 100%;
  }
}

@media (min-width: 650px) {
  #dev-team {
    width: 100%;  
  }
}